// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome";

// OwlCarousel
@import "node_modules/owl.carousel/src/scss/owl.carousel";

// FancyBox
@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min";

@import "_variables";
@import "product";
@import "scholae";
@import "slide";
@import "quem-somos";
@import "oque-fazemos";
@import "fale-conosco";
@import "parceiros";
@import "contabilizador";
@import "botoes";

#footer{
	img{
		width: 300px
	}
	a{
		text-decoration: none;
	}
}

#map { height: 400px; }

.site-header{
	position: fixed;
	width: 100%;
	a{
		color: white;
		text-shadow: 1px 1px #999;
	}
}

.text-muted{
	i{
		color: #E2476C;
    	font-size: 38px; 
	}
}
.color-gray{
	color: #6c757d
}