section#botoes{
  	h1{
		color: $red-scholae;
		font-weight: 800;
	}
	.diviser{
		height: 1px;
    	width: 100%;
    	background-color: #DA383A;

	}
}


/* O container geral define a perspectiva */
/* vira os containers frente e verso quando o mouse passa em cima */
/* define a velocidade da transição */
/* esconde o verso durante a animação */
/* frente posicionada sobre o verso */
/* verso inicialmente escondido */
.flip-container {
	perspective: 1000;
	border-radius: 5px;
    background-color: #eeecf9;
    /*border-radius: 5rem;*/
    padding: 1.25rem;
	&:hover {
		.flipper {
			transform: rotateY(180deg);
		}
	}
}
.flip-container.hover {
	.flipper {
		transform: rotateY(180deg);
	}
}
.front {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
	backface-visibility: hidden;
	z-index: 2;
	text-align: center;
    width: 100%;
	.card-title {
		color: $red-scholae;
		font-weight: 800;
		text-align: center;
    	width: 100%;
	}
	img{
		padding: 50px;
	}
}
.back {
	    position: absolute;
    top: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	text-align: center;
    width: 100%;
	.card-title {
		color: $red-scholae;
		font-weight: 800;
		text-align: center;
    	width: 100%;
	}
	p{
		color: $red-scholae;
	}
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
