section#contabilizador{
  	background-color: #B8CB49;
   	color: white;
   	.counter{
   		.counter-img{
	   		border-radius: 50%;
    		background-color: #CDDB80;
    		padding: 45px;
        @media(max-width: 768px){
          padding: 25px;
        }
   		}
   		.counter-text{
   			h3{
   				text-align: center;
   				margin-bottom: unset !important;
   				span{
   					font-weight: 800;
   					font-size: 48px;
   				}
   			}
   			p{
   				text-align: center;
   				font-size: 19px;
   			}
   		}
   	}
}