section#fale-conosco{
  	background:
   	 	/*url(/images/min/background2-opacity2.png),*/
   	 	linear-gradient(rgba(255,255,0,.3),rgba(255,255,0,.3));
   	background-size: cover;
      background-repeat: no-repeat;
      /*background-color: rgba(255,255,0,.3);*/
	h1{
		font-size: 45px;
		font-weight: 800;
		color: $red-scholae;
      text-shadow: 1px 1px #999;
	}
	h4{
		font-size: 18px;
	}


   	form{
   		.form-control{
   			border-radius: 20px;
   			height: 48px;
   		}
   		textarea{
			height: 78px !important;
		}
   	}

   	.icones-bolinhas{
   		background-color: white;
		h1{
			color: $red-scholae;
			font-weight: 800;
		}
   	}
}