.oque-fazemos{
	background-color: $blue-scholae;
	color: white;
	h1{
		font-size: 45px;
		font-weight: 800;
	}
	h4{
		font-size: 18px;
	}
	p{
		text-align: justify;
		a{
			text-decoration: none;
		}
	}
}
.video-scholae{
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
	height: 100%;
	min-height: 300px;
	border-radius: 5px;
	position: relative;
	a {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-size: 80px, contain !important;
		background-repeat: no-repeat;
		background-position: center;
	}
}
