section#parceiros{
   background-color: #B8CB49;
   color: white;
   h1{
      font-weight: 800;
   }

   .owl-nav{
      position: absolute;
      top: 10%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      button{
         font-size: 75px;
      }
      .owl-prev {
         position: absolute;
         left: -50px;
         @media (max-width: 768px) {
            left: -10px !important;
         }
      }

      .owl-next {
         position: absolute;
         right: -50px;
         @media (max-width: 768px) {
            right: -10px !important;
         }
      }
      @media (max-width: 768px) {
         top: 0 !important;
      }
   }
}