.parallax-window {
    min-height: 600px;
    background: transparent;
}
.text-quem-somos{
	background-color: white;
	h1{
		color: $red-scholae;
		font-weight: 800;
	}
	h4{
		color: $red-scholae;
		font-size: 16px;
		font-weight: 800;
	}
	p{
		text-align: justify;
	}
}

section#metodologia{
	h1{
		color: $orange-scholae !important;
	}
	.text-quem-somos{
		p{
			color: $orange-scholae;
		}
	}
}