body{
	font-family: 'Lexend Exa', sans-serif;
}

.btn-scholae{
	border-color: $green-scholae;
    background-color: $green-scholae;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 7px 30px;
    color: #fff !important;
    margin-top: -10px;
}